.tsfintro{
    font-size: 60px;
    color: lightsalmon;
   
}
.btn1{
    text-align: center;
 padding-left: 45%;
   
   
}
.btn2{
    text-align: left;
    padding-left: 20px;
    
}
.btn3{
    text-align: right;
    padding-left: 80%;
} 


   .change{
       font-size: 50px;
       color: red;
       font-style: italic;
   }
   .aboutme{
       font-style: oblique;
       font-weight:bolder;
       font-size: 80px;
       text-align: center;
       
       
    
   
    }
    .pt{
        font-size: 30px;
        font-weight:700;
        color: darkred;
        
    
    }
   .payment{
       font-size: 50px;
       font-weight: 200;
       color: lightskyblue;
       text-align: center;
       font-weight: bold;
       font-family: Georgia, 'Times New Roman', Times, serif;
   }
   .razorpay{
       text-align: center;
   }
   .h12{
       color:blue;
       font-weight: 700;
       padding-left: 25px;
   }
   .h13{
    color: lightyellow;
    font-weight: 700;
    padding-left: 500px;
}